@import './variables.css';

.button {
    background-color: var(--background-button-primary);
    color: var(--color-button-text-light);
    border: none;
    padding: var(--padding-button-vertical) var(--padding-button-horizontal);
    font-size: var(--font-size-md);
    border-radius: var(--border-radius-button);
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-self: flex-start;
    margin-bottom: var(--margin-bottom-header-button);
}

.button:active {
    background-color: var(--background-button-primary-active);
}
